venv
.DS_Store
.idea
.gcloudignore
.git
.venv
__pycache__/
/setup.cfg
venv
.ipynb_checkpoints
*.ipynb
.env
Brewfile.lock.json

# Terraform
**/.terraform/*
# Terraform lock files
*/.terraform.lock.hcl
.terraform.lock.hcl
*.terraform.lock.hcl
# Custom terraform chart path
.charts

# Data
*.csv
*.xlsx
*.xls
*.pkl
*.parquet
*.zip
*.ods

# outputs
*.pdf
*.jpg
*.png
*.pptx
*.ppt
*.docx

# Rendered presentations
*.html
*_files/
static/
*.pdf 